// Override this file to add your own SCSS styling.
// Body
body{
    font-weight: 300 !important;
}
b, strong{
    font-weight: 700;
}
//////////////////////////
// Home
//////////////////////////
.home-section:first-of-type{
    background: #ffffff !important;
}
.dark .wg-hero{
    background-color:#282a36 !important;
}
.btn-primary cta-btns{
    padding:1.2em 1.618em !important;
    background-color:#ff3;
    text-decoration:none !important;
    color:black;
    font-weight: bold;
}
.wg-hero .btn a{
    text-decoration:none !important;
}
.hero-title{
    font-weight: 700 !important;
}
//////////////////////////
// Navigation
//////////////////////////
a.navbar-brand{
    font-size:1.618em !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}
a.navbar-brand:hover{
    color:#ff0 !important;
}
.navbar .nav-link{
    color:#ff6 !important;
    font-size: 1.618em;
 }
.navbar .nav-link:hover{
   text-decoration:underline;
   color:#ff0 !important;
}
#navbar-main .main-menu-item ul li .nav-link{
    color:#ff0;
    font-weight: 700 !important;
}
#navbar-main .main-menu-item ul li .nav-link:hover{
    color:#ff0;
    font-weight: 700 !important;
}
ul.nav-icons{
    font-size:0.8em;
}
//////////////////////////
// Docs Sidebar
//////////////////////////
.docs-sidebar{
    background-color: #3da0f2;
}
.dark .docs-sidebar .nav a{
    background-color: #3da0f2 !important;
}
.docs-sidebar a{
    font-weight: 300;
}
.docs-sidebar a:hover{
    font-weight: 400;
    color:#ff0 !important;
    text-decoration:underline;
}
.docs-sidebar .nav > .active > a{
    font-weight: 700;
    color:#ff6 !important;
}
//////////////////////////
// Docs Table of content
//////////////////////////
.docs-toc{
    font-weight: 300;
}
.docs-toc a:hover{
    text-decoration:underline !important;
}
.docs-toc-link{
    font-weight: 400 !important;
}
//////////////////////////
// CTA
//////////////////////////
.mybutton{
background:    #ff3;
border-radius: 10px;
box-shadow:    0 0px #ff3;
padding:       15px 20px 20px 30px !important;
color:         #3DA0F2;
display:       inline-block;
text-align:    center;
font-weight:   bold;
text-decoration:none !important;
}
.mybutton:hover{
background:    yellow;
border:        1px solid yellow;
border-radius: 10px;
padding:       15px 20px 20px 30px !important;
box-shadow:    0px 0px 10px #3DA0F2;
padding:       18px 35px;
display:       inline-block;
text-align:    center;
text-decoration:none !important;
}
a.mybutton{
text-decoration:none !important;
border:5px solid #3DA0F2 !important;
}
a.mybutton:hover{
color:#3DA0F2 !important;
border:5px solid yellow !important;
}
a.hero-cta-alt.pl-4{
    padding-left:1.21rem !important;
}
//////////////////////////
// alert
//////////////////////////
div.alert.alert-note{
    padding:0.75rem 1rem !important;
    text-align:left;
    font-weight: 400 !important;
    border-color:#3da0f2;
}
div.alert>div:first-child::before{
    color:#3DA0F2;
}
.alert-note ul{
    padding-left:1.618rem !important;
}
div.alert.alert-warning{
    font-weight: 400;
}
//////////////////////////
// content
//////////////////////////
h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6{
    color:#eee;
}
.article-style a{
    font-weight: 700;
}
//////////////////////////
// author-card
//////////////////////////
.media.author-card.content-widget-hr{
    margin-top:2.618rem;
    margin-bottom:2.618rem;
    max-width: 760px !important;
}
.author-card .card-title a{
    columns: #3DA0F2;;
}
.author-card .card-subtitle{
    color:black;
}
img.portrait.mr-3{
    width:120px !important;
    height:120px !important;
    border:1px solid #3DA0F2;
}
//////////////////////////
// sharethis
//////////////////////////
.sharethis{
    padding: 0rem 1rem 1rem !important;
    background-color:#ff6;
    max-width: 760px;
    margin-top:5rem;
    border:3px dashed #3DA0F2;
}
.sharethis:hover{
    background-color:yellow;
    max-width: 760px;
    margin-top:5rem;
}
.pb-md-3, .py-md-3 {
    padding-bottom:0 !important;
}
//////////////////////////
// Demo
//////////////////////////
section#demo{
    background-color:#3DA0F2 !important;
}
section#demo a{
    text-decoration: underline;
}
#demo .container{
    max-width:593px;
}
//////////////////////////
// Site Footer
//////////////////////////
.site-footer{
    padding:0;
    margin:0;
    //display:none !important;
}
.site-footer a{
    font-weight: 400;
}
