// Override this file to add your own SCSS styling.
// Body
body{
    font-weight: 300 !important;
}
b, strong{
    font-weight: 700;
}
//////////////////////////
// HOME
//////////////////////////
.hero-title{
    color:white;
    font-size: 2.618rem!important;
    margin-bottom:1em!important;
    text-align:center;
}
.hero-lead h2, .hero-lead h2:first-of-type{
    color:white;
    text-align:left;
    font-size:1.618rem!important;
    margin-bottom:0.618rem!important;
}
.hero-lead h2 .fa-bullseye:before{
    color:white;
    text-align:left;
}
.home-section:first-of-type{
    background: #ffffff !important;
}
.dark .wg-hero{
    background-color:#282a36 !important;
}
.btn-primary cta-btns{
    padding:1.2em 1.618em !important;
    background-color:#ff9;
    text-decoration:none !important;
    color:black;
    font-weight: bold;
}
.wg-hero .btn a{
    text-decoration:none !important;
}
.hero-title{
    font-size:2.618rem;
    font-weight: 700 !important;
}
//////////////////////////
// BOOKMARK
//////////////////////////
.bookmark{
    margin:0;
    color:#ededed;
    font-size:0.777em;
    padding:0.555rem 0 0.222rem 0;
    text-align:center;
    margin-left:-0.555rem;
}
//////////////////////////
// ICONS
//////////////////////////
.fa-smile:before{
    color:gold;
}
.fa-eye:before{
    color:gold;
}
.fa-bullseye:before{
    color:gold;
}
.fa-heart:before{
    color:orange;
}
.fa-rocket:before{
    color:#ff2d2d;
}
.fa-rocket.hero:before{
    color:#ff6;
}
.fa-paper-plane:before{
    color:#3da0f2;
}
.fa-bell:before{
    color:orange;
}
.fa-bars:before{
    color:#ff6;
}
.fa-chevron-up:before{
    color:#1f5079;
}
//////////////////////////
// NAVIGATION
//////////////////////////
a.navbar-brand{
    font-size:1.618em !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}
a.navbar-brand:hover{
    color:#ff6 !important;
}
.navbar .nav-link{
    color:#ff9 !important;
    font-size: 1.618em;
 }
.navbar .nav-link:hover{
   text-decoration:underline;
   color:#ff6 !important;
}
#navbar-main .main-menu-item ul li .nav-link{
    color:#ff9;
    font-weight: 700 !important;
}
#navbar-main .main-menu-item ul li .nav-link:hover{
    color:#ff6;
    font-weight: 700 !important;
}
ul.nav-icons{
    font-size:0.8em;
}
//////////////////////////
// DOCS Sidebar
//////////////////////////
.btn.docs-toggle.d-md-none.p-0.mr-3{
    color:white !important;
}
.docs-sidebar{
    background-color: #3da0f2;
}
.dark .docs-sidebar .nav a{
    background-color: #3da0f2 !important;
}
.docs-sidebar a{
    font-weight: 300;
}
.docs-sidebar a:hover{
    font-weight: 400;
    color:#ff6 !important;
    text-decoration:underline;
}
.docs-sidebar .nav > .active > a{
    font-weight: 700;
    color:#ff9 !important;
}
//////////////////////////
// DOCS Table of content
//////////////////////////
.docs-toc{
    padding-top:1em;
    padding-bottom:0;
}
.docs-toc a:hover{
    text-decoration:underline !important;
}
.docs-toc li a.active{
    text-decoration:underline !important;
}
.d-none.d-xl-block.col-xl-2.docs-toc{
    padding-left:0 !important;
}
#TableOfContents li a{
    color:#777777;
}
//////////////////////////
// CTA
//////////////////////////
.mybutton{
    background-color:#ff2d2b;
    color:#ff9;
    border-radius: 0.333em;
    padding:       0.5em 1em 0.7em 1em !important;
    display:       inline-block;
    text-align:    center;
    font-weight:   700;
    text-decoration:none !important;
} 
.mybutton:hover{
    background-color: red;
    color:#ff6;
    border-radius: 0.333em;
    box-shadow:    0px 0px 1em #3DA0F2;
    display:       inline-block;
    text-align:    center;
    text-decoration:none !important;
}
a.mybutton{
    text-decoration:none !important;
    border:0.25em solid #ff9 !important;
}
a.mybutton:hover{
    text-decoration:underline!important;
    color:#ff6 !important;
    border:0.25em solid #ff6 !important;
}
.mybuttonstayupdated{
    background-color:#white;
    color:#3DA0F2;
    border-radius: 0.333em;
    padding:       0.5em 1em 0.6em 1em !important;
    display:       inline-block;
    text-align:    center;
    font-weight:   700!important;
    text-decoration:none !important;
} 
.mybuttonstayupdated:hover{
    background-color: #ff6;
    color:#3DA0F2;
    border-radius: 0.333em;
    box-shadow:    0px 0px 1em #3da0f2;
    display:       inline-block;
    text-align:    center;
    text-decoration:none !important;
}
a.mybuttonstayupdated{
    text-decoration:none !important;
    border:0.25em solid #3DA0F2 !important;
    margin:1em 0 0 0;
}
a.mybuttonstayupdated:hover{
    color:#3DA0F2 !important;
    border:0.25em solid #3DA0F2 !important;
} 
a.hero-cta-alt.pl-4{
    padding-left:0.618rem !important;
    font-weight: 400;
}
a:hover.hero-cta-alt.pl-4{
    font-weight: 700;
}
#mlb2-2433250.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button{
    border:3px solid #ff6 !important;
}
//////////////////////////
// ALERT
//////////////////////////
div.alert.alert-note{
    padding:1em 1em !important;
    margin-bottom:1.333rem !important;
    text-align:left;
    font-weight: 400 !important;
    border-color:#3da0f2;
}
div.alert>div:first-child::before{
    color:#3DA0F2;
}
.alert-note ul{
    padding-left:1.777rem !important;
    padding-bottom:0.333rem!important;
}
div.alert.alert-warning{
    font-weight: 400;
    margin-bottom:1.333rem!important;
}
div.alert-warning > div:first-child::before{
    color:red;
}
//////////////////////////
// ARTICLE
//////////////////////////
.article{
    min-height: 1000px!important;
}
.article-syle{
    background:white !important;
}
.article-container{
    padding:0 0.333em;
}
//////////////////////////
// DOCS Content
//////////////////////////
.docs-article-container{
    background-color:white !important;
}
.docs-search{
    padding: 0rem 15px 1rem;
}
//////////////////////////
// CONTENT
//////////////////////////
h1{
    font-weight: 700 !important;
    font-size:2.369rem !important;
    margin-bottom:1.333rem!important;
    margin-top:1.333rem!important;
    text-align:center;
}
.dark h1{
    font-weight: 700 !important;
    font-size:2.369rem !important;

}
h2{
    font-weight: 700 !important;
    margin-bottom:0.777em;
    margin-top:1.333em!important;
    font-size:1.777rem!important;
}
.dark h2{
    font-weight: 700 !important;
    margin-bottom:0.777rem;
    margin-top:1.333rem!important;
    font-size:1.777rem!important;
    color:#eee;
}
h2:first-of-type{
    font-weight: 700 !important;
    margin-bottom:0.777em;
    margin-top:0!important;
    font-size:1.777rem!important;
}
h3{
    font-size: 1.333em;
    font-weight: 700 !important;
    margin-bottom:0.777em;
    margin-top:1.333em;  
}
.dark h3{
    font-size: 1.333em;
    font-weight: 700 !important;
    color:#eee;
    margin-bottom:0.777em;
    margin-top:1.333em;  
}
h4, h5, h6{
    font-size: 1em;
    font-weight: 700 !important;
    margin-bottom:1em;
    margin-top:1.333em;   
}
.dark h4, .dark h5, .dark h6{
    font-size: 1em;
    font-weight: 700 !important;
    color:#eee;
    margin-bottom:1em;
    margin-top:1.333em;
}
p{
    margin-bottom:0.777em;
}
ul{
    padding-inline-start: 2.441em;
    margin-bottom:1.333em;
}
//////////////////////////
// BLOCKQUOTE
//////////////////////////
blockquote{
    padding:.33em 0 .33em 1em !important;
    margin-top:-0.777em !important;
    margin-bottom:1em !important;
}
//////////////////////////
// MATH $$ Mode
//////////////////////////
mjx-container.MathJax.CtxtMenu_Attached_0{
    font-size:1em!important;
    margin-bottom:1.333em!important;
}
//////////////////////////
// AUTHOR-CARD
//////////////////////////
.media.author-card.content-widget-hr{
    margin-top:2.618rem;
    margin-bottom:2.618rem;
    max-width: 760px !important;
}
.author-card .card-title a{
    columns: #3DA0F2;;
}
.author-card .card-subtitle{
    color:black;
}
img.portrait.mr-3{
    width:120px !important;
    height:120px !important;
    border:1px solid #3DA0F2;
}
//////////////////////////
// SHARETHIS
//////////////////////////
.sharethis{
    padding: 0rem 1rem 1rem !important;
    background-color:#ff9;
    max-width: 760px;
    margin-top:5rem;
    border:3px dashed #3DA0F2;
}
.sharethis:hover{
    background-color:#ff6;
    max-width: 760px;
    margin-top:5rem;
}
.pb-md-3, .py-md-3 {
    padding-bottom:0 !important;
}
//////////////////////////
// WIDGET
//////////////////////////
#hero{
    padding:0!important;
}
.hero-lead a{
    padding-bottom:0;
    margin: 4.236rem 0 2.618em 0 !important;
}
.wg-hero p{
    margin-bottom:0 !important;
}
section#demo{
    background-color:#3DA0F2 !important;
    padding:4.236em 0.25em 4.236em 0.25em !important;
    min-height: 495px;
}
section#demo a{
    text-decoration: underline;
}
#demo .container{
    max-width:777px;
}
.home-section.wg-featurette{
    margin-top:2.618em;
    padding:0;
}
//////////////////////////
// SITE FOOTER
//////////////////////////
.site-footer{
    display:block;
    padding:1em 0 0 0 !important;
    border-top:1px solid #c5e3fb!important;
    margin:6.854em 0 4.236em 0;
    text-align:center;
    //display:none !important;
}
.site-footer a{
    font-weight: 400;
}
.footer p{
    margin-bottom:0.333em;
}