<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '1498536', 'y2w8c5h5w6', 'load');
</script>
<!-- End MailerLite Universal -->


<!-- Show pop-up on click event Mailerlite -->
<script>
    var ml_webform_2362063 = ml_account('webforms', '2362063', 'd8w4d9', 'load');
    ml_webform_2362063('animation', 'fadeIn');
</script>   
<!-- End Show pop-up on click event -->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5df38fec624f03b6"></script>
<!-- End Go to www.addthis.com/dashboard to customize your tools -->


<!--Start Navbar hide on scroll-->
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar-main").style.top = "0";
      } else {
        document.getElementById("navbar-main").style.top = "-70px";
      }
      prevScrollpos = currentScrollPos;
    }
</script>
<!--End Navbar hide on scroll-->

